@import "../component/css.config/mixins.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
}

.container {
  background-color: rgb(13, 15, 17);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

.input-container {
 display: flex;
 flex-direction: column;
 color: aqua;
 font-size: 30px;
 position: relative;
 width: 40%;
 label{
    margin: 0 0 10px 0;
 }
 input{
font-size: 25px;
padding: 5px;
border-radius: 10px;
color: white;
background-color: rgb(13, 15, 17);
outline: none;
border: 0.2px solid rgb(37, 48, 48);
-moz-appearance: textfield;
 }
 input[type=number]::-webkit-outer-spin-button,
 input[type=number]::-webkit-inner-spin-button{
   -webkit-appearance: none;
    margin: 0;
 }
 p{
    margin: 30px;
    height: 40vh;
    padding-left: 12rem;
    display: flex;
    gap: 15px;
 }
}
}


